**/node_modules/**

# Cache
**/.angular
**/.nx
**/bin
coverage

# IDEA
.idea
*.log

# Custom
dist
**/.rollup*
projects/jest-config/*.d.ts
projects/jest-config/*.js
projects/eslint-plugin-experience-next/*.js
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
*.js.map
