@property --value {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

@keyframes rotate-appear {
    from {
        rotate: 0deg;
        translate: 0;
    }

    to {
        rotate: 720deg;
        translate: 100%;
    }
}

[directive] {
    timeline-scope: --value;
}

.animation {
    animation: rotate-appear 1ms linear;
    animation-timeline: --my-scroller;
}

:root {
    --tui-viewport-svh: 0;
    --tui-viewport-height: 0;
    --tui-viewport-y: 0;
    --t-svh: calc(100 * var(--tui-viewport-svh));
}

@supports (height: 100svh) {
    --t-svh: 100svh;
}

* {
    inset: 0;
    inset-block-end: max(0px, calc(var(--t-svh) - var(--tui-viewport-height) - var(--tui-viewport-y)));
    content-visibility: auto;
    contain-intrinsic-block-size: auto 37.5rem;
}
